{% extends "../index.html" %}

{% block title %} Add Review {% endblock %}

{% block content %}
<div class="about-section paddingTB60 gray-bg">
    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title">
                Add your review for {{ dealer_id }}
            </h1>
            <h2 class="wv-heading--subtitle">
                Please complete the form with all the required fields
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="auth-form form ">
                <form class="needs-validation" action="add_review_request" method="POST" name="add-review" novalidate
                      id="add-review">
                    <div class="form-group form-floating">
                        <textarea name="review" class="form-control auth-input" rows="4" id="review"
                                  style="height:100px" placeholder="Enter your review:" required></textarea>
                        <label for="review">Review Text:</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group form-floating">
                        <input type="text" name="name" class="form-control auth-input" id="name"
                               placeholder="Enter Name:" required>
                        <label for="name">Name</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group form-floating">
                        <input class="date-own form-control auth-input" type="text" name="purchasedate"
                               id="purchasedate"/>
                        <label for="purchasedate">Pick Purchase Date</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="form-group form-floating">
                        <select name="carmodel" id="carmodel" class="form-select auth-input" required>
                            {% for car in cars %}
                            <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="carmodel">Car Model</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="text-center form-floating">
                        <button id="submit-review" type="submit" class=" btn btn-block send-button tx-tfm">Add Review
                        </button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        'use strict'

        $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        });

        $('#submit-review').on('click', (event) => {
            let btn = $(event.target);
            btn.prop('disabled', true);
            btn.html("Loading...")
            btn.append(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`)
            $('#add-review').submit();
        });

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}
