{% extends "../index.html" %}

{% load jsonify %}

{% block title %} Dealers {% endblock %}

{% block content %}
<div class="about-section paddingTB60 gray-bg">
    <h1>List of car dealers:</h1>
    <table id="data-table" data-toggle="table" data-filter-control="true" data-show-search-clear-button="true">
      <thead>
        <tr>
          <th data-field="id">Id</th>
          <th data-field="address">Address</th>
          <th data-field="city">City</th>
          <th data-field="state" data-filter-control="select">State</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>

<script>
     (function() {
        const data = JSON.parse(`{{ dealerships|jsonify }}`);
        const $elem = $('#data-table');

        $elem.bootstrapTable({
            data: data
        });

        $elem.on('click-row.bs.table', function (row, $element, field) {
            window.location.href = `./dealer/${$element.id}`;
        })
    })();
</script>

{% endblock %}