{% extends "../index.html" %}

{% load define_action %}

{% block title %} Dealer Details {% endblock %}

{% block content %}
<div class="about-section paddingTB60 gray-bg">
    <div class="row-fluid d-flex flex-column justify-content-center align-items-stretch">
        <div>
            <div class="d-flex flex-column align-items-center review-content">
                <img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm"
                 class="img-circle">
                <h3>{{ dealer.address }}</h3>
                <h6>Coordinates: {{ dealer.lat }} / {{ dealer.long }}</h6>
                <h6>State: {{ dealer.state }}</h6>
                <h6>City: {{ dealer.city }}</h6>
                <button class="form-control btn btn-outline-dark">
                    <a href="add_review_page">Add Review</a>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reviews</h5>
                    {% for review in reviews %}
                        {% if review.sentiment is None or review.sentiment == "neutral" %}
                            {% define "neutral" as emoji %}
                        {% elif review.sentiment == "negative" %}
                            {% define "negative" as emoji %}
                        {% else %}
                            {% define "positive" as emoji %}
                        {% endif %}

                    <div class="one-review">
                        <div class="card-header">
                            <img class="card-img-left" src="/static/media/emoji/{{ emoji }}.png"> {{ review.name }}
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-success">
                                Purchase Date: <small>{{ review.purchase_date }}</small>
                            </div>
                        </div>
                        <div class="row text-success">
                            <div class="col-md-12">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-12">
                                <h6>For {{ review.car_make }} {{ review.car_model }}</h6>
                                <p>{{ review.review }}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}